{% extends '../base.jinja2' %}

{% block content %}
  <h1>Our Ministries and Mission</h1>
  <p>We encourage you to take a look at our current programs and projects and to consider getting involved. Have an idea for a ministry? Let us know.</p>
  <p>
    Main Street United Methodist Church exists to glorify God by offering services of praise and worship, teaching and making disciples of Jesus Christ, supporting each other, serving the community and spreading the Good News of salvation.  We are committed to reaching out to people in the name of Jesus Christ in our congregation, local community, our country and the world.
  </p>
{% endblock content %}
