{% extends '../base_admin.jinja2' %}

{% block breadcrumb %}
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item active">Households</li>
    </ol>
  </nav>
{% endblock %}

{% block content %}
  <h1>Households <a class="btn btn-primary" href="{{request.route_url('household.add')}}">Add Household</a></h1>

  <table class="table table-sm table-bordered" id="household_datatable" style="width: 100%;">
    <thead>
      <tr>
        <th>Last Name</th>
        <th>Photo?</th>
        <th># Household Members</th>
      </tr>   
    </thead>
    <tbody>
      {% for household in households %}
        <tr>
          <td>
            <a href="{{request.route_url('household.view', household_id=household.id)}}">
              {{household.last_name}}
            </a>
          </td>
          <td>{{'Yes ✓' if household.photo_fp else 'No ✗'}}</td>
          <td>{{household_count.get(household.id, 0)}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock content %}

{% block scripts %}
  <script src="{{request.static_url('msumc:app/static/js/household/index.js')}}"></script>
{% endblock scripts %}
