{% extends '../base_admin.jinja2' %}

{% block breadcrumb %}
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{request.route_url('household.index')}}">Households</a></li>
      <li class="breadcrumb-item active">{{household.last_name}}</li>
    </ol>
  </nav>
{% endblock %}

{% block content %}
  <h1>
    {{household.last_name}} Household - View 
    <span class="ml-auto">
      <a class="btn btn-secondary" 
         data-toggle="collapse" 
         href="#details" 
         role="button">
        Show Additional Details
      </a>
      {% if 'group:admins' in request.effective_principals %}
      <a class="btn btn-danger" 
         href="{{request.route_url('household.delete', household_id=household.id)}}" 
         onclick="return confirm('Are you sure you want to delete this household?');">
        Delete Household
      </a>
      {% endif %}
    </span>
  </h1>

  <div class="row">
    <div class="col-lg-4 col-sm-6 mx-auto">
      {% if household.photo_fp %}
        <img class="img img-fluid" src="{{request.static_url('msumc:app/static/img/household/' + household.photo_fp.split('/')[-1])}}" alt="Household Photo">
      {% else %}
        <img class="img img-fluid" src="{{request.static_url('msumc:app/static/img/no-image.png')}}" alt="No Image Found">
      {% endif %}
    </div>
  </div>


  <div class="collapse my-2" id="details">
    <div class="card card-body">
      <table class="table table-sm table-bordered">
        <tr>
          <th>Created on</th>
          <td><code>{{household.created_on.strftime('%m/%d/%Y %I:%M %p')}}</code></td>
        </tr>
        <tr>
          <th>Created by</th>
          <td><code>{{household.created_by}}</code></td>
        </tr>
        <tr>
          <th>ID</th>
          <td><code>{{household.id}}</code></td>
        </tr>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-9">
      <h2>Household Details</h2>
      <fieldset {% if 'group:admins' not in request.effective_principals %}disabled{% endif %}>
        <form action="{{request.route_url('household.update', household_id=household.id)}}" enctype="multipart/form-data" method="POST">
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label for="last_name">Last Name</label>
                <input type="text" id="last_name" name="last_name" class="form-control" value="{{household.last_name or ''}}" required>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label for="married_on">Married On</label>
                <input type="text" id="married_on" name="married_on" class="form-control datepicker" 
                                                                     pattern="\d{2}/\d{2}/\d{4}" value="{% if household.married_on %}{{household.married_on.strftime('%m/%d/%Y')}}{% endif %}">
                <small class="form-text text-muted">If applicable. Must be of format 00/00/0000</small>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label for="street1">Street 1</label>
                <input type="text" id="street1" name="street1" class="form-control" value="{{household.street1 or ''}}">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label for="street2">Street 2</label>
                <input type="text" id="street2" name="street2" class="form-control" value="{{household.street2 or ''}}">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label for="city">City</label>
                <input type="text" id="city" name="city" class="form-control" value="{{household.city or ''}}">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label for="state">State</label>
                <input type="text" id="state" name="state" class="form-control" value="{{household.state or ''}}">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label for="zipcode">Zipcode</label>
                <input type="text" id="zipcode" name="zipcode" class="form-control" value="{{household.zipcode or ''}}">
              </div>
            </div>
            <div class="col-lg-6"></div>
            <div class="col-lg-6">
              <div class="form-group">
                {% if household.photo_fp %}
                  <label for="photo">Update Photo</label>
                {% else %}
                  <label for="photo">Add Photo</label>
                {% endif %}
                <input type="file" id="photo" name="photo" class="form-control">
                <small class="form-text text-muted">Only accepts <code>.jpg</code>, <code>.jpeg</code>, and <code>.png</code> files.</small>
              </div>
            </div>
            <div class="col-12">
              <div class="form-group">
                <label for="notes">Notes</label>
                <textarea id="notes" name="notes" rows="5" class="form-control">{{household.notes or ''}}</textarea>
              </div>
            </div>
            {% if 'group:admins' in request.effective_principals %}
            <div class="col-12 text-right">
              <button type="submit" class="btn btn-warning">Update</button>
            </div>
            {% endif %}
          </div>
        </form>
      </fieldset>
    </div>
    <div class="col-lg-3">

      <h2>
        People
        {% if 'group:admins' in request.effective_principals %}
        <a class="btn btn-primary" 
           href="{{request.route_url('person.add', _query={'household_id': household.id})}}">
          Add Person to Household
        </a> 
        {% endif %}
      </h2>

      {% if people|length == 0 %}
        <p>No people yet...</p>
      {% endif %}

      <ul>
        {% for person in people %}
          <li>
            <a href="{{request.route_url('person.view', person_id=person.id)}}">
              {{person.first_name}} {% if person.last_name != household.last_name %}(<em>{{person.last_name}}</em>){% endif %}
            </a> 
            {% if person.familial_relationship %}{{person.familial_relationship}}{% endif %}
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock content %}
