{% if admin %}
<nav class="nav flex-column nav-pills" id="sidebar">
  <a data-subject="admin" class="nav-link" href="{{request.route_url('admin.index')}}">Admin</a>
  <a data-subject="family" class="nav-link" href="{{request.route_url('family.index')}}">Families</a>
  <a data-subject="person" class="nav-link" href="{{request.route_url('person.index')}}">People</a>
</nav>
{% else %}
<div class="card p-3">
  <img class="img my-1" src="{{request.static_url('directory:app/static/img/cross_flame.png')}}" height="250" alt="Cross and flame">
  <div class="text-center">
    <h5><strong>SUNDAY SERVICE SCHEDULE</strong></h5>
    <p>
      <small>9:30 Communion - Dupre Parlor</small><br>
      <small>9:45 am  Church School for all ages</small><br>
      <small>11:00 am  Morning Worship Service</small><br>
      <small>5:00 pm Chancel Choir</small><br>
    </p>
  </div>
</div>
{% endif %}
