body {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  padding-bottom: 15px;
}

footer {
  background: #000;
  min-height: 20vh;
  color: white;
  padding: 20px;
}

footer address strong {
  font-weight: 800;
  text-decoration: underline;
}

main {
  min-height: calc(100vh - (126px + 56px)); /* 100vh - (height_of_top_nav + height_of_bottom_nav) */
}

.navbar-brand img {
  height: 70px;
}

.required::after {
  color: var(--red);
  content: " *";
}

.photo {
  max-width: 250px;
  margin: 10px 0;
}

#username::after {
  content: " \01F464";
  color: transparent;
  text-shadow: 0 0 0 var(--gray);
}

@media only screen and (min-width: 992px) {
  .navbar-brand img {
    height: 100px;
  }
} 

