{% extends '../base_admin.jinja2' %}

{% block breadcrumb %}
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{request.route_url('page.index')}}">Pages</a></li>
      <li class="breadcrumb-item active">Add</li>
    </ol>
  </nav>
{% endblock %}

{% block content %}
  <h1>Add Page</h1>
  <form action="{{request.route_url('page.add')}}" method="POST">
    <div class="row">
      <div class="col-12">
        <div class="form-group">
          <label for="path">Path</label>
          <input type="text" id="path" name="path" class="form-control" pattern="[^\/]+" required>
          <small class="form-text text-muted">The URL to access the page. <strong>NO SLASHES ALLOWED</strong>.</small>
          <small class="form-text text-muted">Example: some-page.</small>
        </div>
      </div>
      <div class="col-12">
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" id="title" name="title" class="form-control" required>
        </div>
      </div>
      <div class="col-12">
        <div class="form-group">
          <label for="title">Body</label>
          <div id="body"></div>
          <input type="hidden" name="body">
        </div>
      </div>
      <div class="col-12">
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Add</button>
        </div>
      </div>
    </div>
  </form>

{% endblock content %}

{% block scripts %}
  <script src="{{request.static_url('msumc:app/static/js/page/add.js')}}"></script>
{% endblock scripts %}
