<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <a class="navbar-brand" href="{{request.route_url('index.index')}}">
      <img src="{{request.static_url('msumc:app/static/img/Logo.png')}}" alt="MSUMC">
    </a>
  </div>
</nav>

{% if layout != 'base_admin' %}
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <button 
         class="navbar-toggler" 
         type="button" 
         data-toggle="collapse" 
         data-target="#links" 
         aria-controls="links" 
         aria-expanded="false" 
         aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="links">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a data-subject="index" class="nav-link" href="{{request.route_url('page.view_page', path='index')}}">Home</a>
          </li>
          <li class="nav-item">
            <a data-subject="contact_us" class="nav-link" href="{{request.route_url('page.view_page', path='contact_us')}}">Contact Us</a>
          </li>
          <li class="nav-item">
            <a data-subject="calendar" class="nav-link" href="{{request.route_url('page.view_page', path='calendar')}}">Calendar</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="aboutUsDropdown" role="button" data-toggle="dropdown">
              About Us
            </a>
            <div class="dropdown-menu">
              <a data-subject="our_staff" class="dropdown-item" href="{{request.route_url('page.view_page', path='our_staff')}}">Our Staff</a>
              <a data-subject="our_ministries" class="dropdown-item" href="{{request.route_url('page.view_page', path='our_ministries')}}">Our Ministries</a>
              <a data-subject="our_history" class="dropdown-item" href="{{request.route_url('page.view_page', path='our_history')}}">Our History</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="groupsDropdown" role="button" data-toggle="dropdown">
              Groups
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{{request.route_url('page.view_page', path='group/united-methodist-men')}}">United Methodist Men</a>
              <a class="dropdown-item" href="{{request.route_url('page.view_page', path='group/united-methodist-women')}}">United Methodist Women</a>
              <a class="dropdown-item" href="{{request.route_url('page.view_page', path='group/main-street-youth')}}">Main Street Youth</a>
              <a class="dropdown-item" href="{{request.route_url('page.view_page', path='group/the-goodtimers')}}">The Goodtimers</a>
              <a class="dropdown-item" href="{{request.route_url('page.view_page', path='group/healing-hands-ministry')}}">Healing Hands Ministry</a>
            </div>
          </li>
          <li class="nav-item">
            <a data-subject="links" class="nav-link" href="{{request.route_url('page.view_page', path='links')}}">Links</a>
          </li>
          <li class="nav-item">
            <a data-subject="newsletters" class="nav-link" href="{{request.route_url('page.view_page', path='newsletters')}}">Newsletters</a>
          </li>
          <li class="nav-item">
            <a data-subject="sermons" class="nav-link" href="{{request.route_url('page.view_page', path='sermons')}}">Sermons</a>
          </li>
          <li class="nav-item dropdown d-lg-none d-block">
            <a class="nav-link dropdown-toggle" href="#" id="scheduleDropdown" role="button" data-toggle="dropdown">
              Sunday Service Schedule
            </a>
            <div class="dropdown-menu">
              <span class="dropdown-item">
                {% include './sidebar.jinja2' %}
              </span>
            </div>
          </li>
          {% if not request.authenticated_userid %}
            <li class="nav-item">
              <a class="nav-link" href="{{request.route_url('auth.login')}}">Login</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>

  {% if request.authenticated_userid %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <button 
           class="navbar-toggler" 
           type="button" 
           data-toggle="collapse" 
           data-target="#admin_links" 
           aria-controls="admin_links" 
           aria-expanded="false" 
           aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="admin_links">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="aboutUsDropdown" role="button" data-toggle="dropdown">
                Admin
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="{{request.route_url('admin.index')}}">Admin Site</a>
              </div>
            </li>
            <li class="nav-item">
              <span class="navbar-text" id="username">{{request.authenticated_userid}}</span>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{request.route_url('auth.logout')}}">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  {% endif %}
{% endif %}


