{% if admin %}
<nav class="nav flex-column nav-pills" id="sidebar">
  <p class="pt-2 text-muted">Directory</p>
  <a data-subject="admin" class="nav-link" href="{{request.route_url('admin.index')}}">Admin</a>
  <a data-subject="family" class="nav-link" href="{{request.route_url('family.index')}}">Families</a>
  <a data-subject="person" class="nav-link" href="{{request.route_url('person.index')}}">People</a>
  <p class="pt-2 text-muted">Other Links</p>
  <a class="nav-link" href="{{request.route_url('index.index')}}">Main Site</a>
  <a data-subject="page" class="nav-link" href="{{request.route_url('page.index')}}">Pages</a>
</nav>
{% else %}
<div class="card p-3 my-1">
  <div class="text-center">
    <img class="img img-fluid my-4" id="sidebar_icon" src="{{request.static_url('msumc:app/static/img/cross_flame.png')}}" alt="Cross and flame">
    <h5><strong>SUNDAY SERVICE SCHEDULE</strong></h5>
    <p>
      <small>9:30 Communion - Dupre Parlor</small><br>
      <small>9:45 am  Church School for all ages</small><br>
      <small>11:00 am  Morning Worship Service</small><br>
      <small>5:00 pm Chancel Choir</small><br>
    </p>
  </div>
</div>
{% endif %}
