{% extends '../base_admin.jinja2' %}

{% block breadcrumb %}
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{request.route_url('family.index')}}">Families</a></li>
      <li class="breadcrumb-item active">Add</li>
    </ol>
  </nav>
{% endblock %}

{% block content %}
  <h1>Family - Add</h1>

  <form action="{{request.route_url('family.add')}}" enctype="multipart/form-data" method="POST">
    <div class="row">
      <div class="col-lg-6">
        <div class="form-group">
          <label for="last_name">Last Name</label>
          <input type="text" id="last_name" name="last_name" class="form-control" required>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="form-group">
          <label for="married_on">Married On</label>
          <input type="text" id="married_on" name="married_on" class="form-control datepicker" pattern="\d{2}/\d{2}/\d{4}">
          <small class="form-text text-muted">If applicable. Must be of format 00/00/0000</small>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="form-group">
          <label for="street1">Street 1</label>
          <input type="text" id="street1" name="street1" class="form-control">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="form-group">
          <label for="street2">Street 2</label>
          <input type="text" id="street2" name="street2" class="form-control">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="form-group">
          <label for="city">City</label>
          <input type="text" id="city" name="city" class="form-control">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="form-group">
          <label for="state">State</label>
          <input type="text" id="state" name="state" class="form-control">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="form-group">
          <label for="zipcode">Zipcode</label>
          <input type="text" id="zipcode" name="zipcode" class="form-control">
        </div>
      </div>
      <div class="col-lg-6"></div>
      <div class="col-lg-6">
        <div class="form-group">
          <label for="photo">Photo</label>
          <input type="file" id="photo" name="photo" class="form-control" accept="image/jpeg,image/png">
          <small class="form-text text-muted">Only accepts <code>.jpg</code>, <code>.jpeg</code>, and <code>.png</code> files.</small>
        </div>
      </div>
      <div class="col-12">
        <div class="form-group">
          <label for="notes">Notes</label>
          <textarea id="notes" name="notes" rows="5" class="form-control"></textarea>
        </div>
      </div>
      <div class="col-12 text-right">
        <button type="submit" class="btn btn-primary">Add</button>
      </div>
    </div>
  </form>
{% endblock content %}
