{% extends '../base.jinja2' %}

{% block content %}

  <h1>Reset Password</h1>

  <form action="{{request.route_url('auth.reset_password', verification_id=email_verification.verification_id)}}" method="POST">
    <div class="form-group">
      <label for="email">New Password</label>
      <input type="password" id="password" name="password" class="form-control" minlength="{{min_password_length}}" maxlength="{{max_password_length}}" required>
      <small class="form-text text-muted">Must be between {{min_password_length}} and {{max_password_length}} characters.</small>
    </div>
    <div class="form-group">
      <label for="email">Verify Password</label>
      <input type="password" id="password2" name="password2" class="form-control" minlength="{{min_password_length}}" maxlength="{{max_password_length}}" required>
      <small class="form-text text-muted">Must be between {{min_password_length}} and {{max_password_length}} characters.</small>
    </div>
    <div class="form-group text-right">
      <button type="submit" class="btn btn-primary">Reset Password</button>
    </div>
  </form>

{% endblock content %}

{% block scripts %}
  <script src="{{request.static_url('msumc:app/static/js/auth/reset_password.js')}}"></script>
{% endblock %}
