{% extends '../base_admin.jinja2' %}

{% block breadcrumb %}
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{request.route_url('person.index')}}">People</a></li>
      <li class="breadcrumb-item active">Add</li>
    </ol>
  </nav>
{% endblock %}

{% block content %}
  <h1>Person - Add</h1>

  <form action="{{request.route_url('person.add')}}" method="POST">
    <div class="row">
      <div class="col-12">
        <div class="form-group">
          <div class="custom-control custom-switch">
            <input type="checkbox" id="is_active" name="is_active" class="custom-control-input" checked>
            <label class="custom-control-label" for="is_active">Is Active?</label>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="form-group">
          <div class="custom-control custom-switch">
            <input type="checkbox" id="is_deceased" name="is_deceased" class="custom-control-input">
            <label class="custom-control-label" for="is_deceased">Deceased?</label>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <p>{{households_by_name}} HOUSEHOLDS</p>
        <div class="form-group">
          <label for="household_id">Household</label>
          <select id="household_id" name="household_id" class="form-control" required>
            <option value=""></option>
            {#
            {% for household in households %}
              <option value="{{household.id}}"
                {% if household.id == household_id|int %}selected{% endif %}>
                {{household.last_name}}
              </option>
            {% endfor %}
            #}
            {% for household in households_and_people %}
              {% set people = households_and_people[household][0:2] %}

              <option value="{{household.id}}"
                {% if household.id == household_id|int %}selected{% endif %}>
              {{household.last_name}} {% if people|length > 0 %}({{people|join(', ')}}){% endif %}
              </option>
            {% endfor %}
          </select>
          <small class="form-text text-muted">If there are people already added to the household, the first 3 will show up next to the household name.</small>
        </div>
      </div>
      <div class="col-lg-6"></div>
      <div class="col-lg-6">
        <div class="form-group">
          <label for="familial_relationship">Familial Relationship</label>
          <input type="text" id="familial_relationship" name="familial_relationship" class="form-control">
          <small class="form-text text-muted">Ex: Husband, Wife, Daughter, Son, Grandson, Granddaughter, etc.</small>
        </div>
      </div>
      <div class="col-lg-6"></div>
      <div class="col-lg-6">
        <div class="form-group">
          <label for="first_name">First Name</label>
          <input type="text" id="first_name" name="first_name" class="form-control" required>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="form-group">
          <label for="last_name">Last Name</label>
          <input type="text" id="last_name" name="last_name" class="form-control" value="{{household.last_name}}" required>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="form-group">
          <label for="last_name">Gender</label>
          <select id="gender" name="gender" class="form-control" required>
            <option value=""></option>
            <option value="M">Male</option>
            <option value="F">Female</option>
          </select>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="form-group">
          <label for="birthday">Birthday</label>
          <input type="text" id="birthday" name="birthday" class="form-control datepicker" pattern="\d{2}/\d{2}/\d{4}">
          <small class="form-text text-muted">Must be of format 00/00/0000</small>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="form-group">
          <label for="phone_number">Phone Number</label>
          <input type="tel" id="phone_number" name="phone_number" class="form-control phone-number" pattern="\(\d{3}\)\s{1}\d{3}-\d{4}">
          <small class="form-text text-muted">Must be of format (000) 000-0000.</small>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" id="email" name="email" class="form-control">
        </div>
      </div>
      <div class="col-12">
        <div class="form-group">
          <label for="notes">Notes</label>
          <textarea id="notes" name="notes" rows="5" class="form-control"></textarea>
        </div>
      </div>
      <div class="col-12 text-right">
        <button type="submit" class="btn btn-primary">Add</button>
      </div>
    </div>
  </form>
{% endblock content %}
