{% extends '../base_admin.jinja2' %}

{% block breadcrumb %}
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item active">People</li>
    </ol>
  </nav>
{% endblock %}

{% block content %}
  <h1>Person <a class="btn btn-primary" href="{{request.route_url('person.add')}}">Add Person</a></h1>

  <table class="table table-sm table-bordered" id="person_datatable" style="width: 100%;">
    <thead>
      <tr>
        <th>Household</th>
        <th>Person ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Active?</th>
        <th>Deceased?</th>
      </tr>
    </thead>
    <tbody>
      {% for person in people %}
        <tr>
          <td>{{households_by_id[person.household_id].last_name}}</td>
          <td>
            <a href="{{request.route_url('person.view', person_id=person.id)}}">
              {{person.id}}
            </a>
          </td>
          <td>{{person.first_name}}</td>
          <td>{{person.last_name}}</td>
          <td>
            {% if person.phone_number %}
              <a 
                 href="tel:{{person.phone_number.replace(' ', '').replace(')', '').replace('(', '').replace('-', '')}}">
                {{person.phone_number}}
              </a>
            {% endif %}
          </td>
          <td>
            {% if person.email %}
              <a 
                 href="mailto:{{person.email}}">
                {{person.email}}
              </a>
            {% endif %}
          </td>
          <td>{{'Yes ✓' if person.is_active else 'No ✗'}}</td>
          <td>{{'Yes ✓' if person.is_deceased else 'No ✗'}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock content %}

{% block scripts %}
  <script src="{{request.static_url('msumc:app/static/js/person/index.js')}}"></script>
{% endblock scripts %}
