{% extends '../base_admin.jinja2' %}

{% block breadcrumb %}
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{request.route_url('person.index')}}">People</a></li>
      <li class="breadcrumb-item active">View</li>
    </ol>
  </nav>
{% endblock %}

{% block content %}
  <h1>
    {{person.first_name}} {{person.last_name}} - View 
    <span class="ml-auto">
      <a class="btn btn-secondary" 
         data-toggle="collapse" 
         href="#details" 
         role="button">
        Show Additional Details
      </a>
      <a class="btn btn-info" 
         href="{{request.route_url('household.view', household_id=household.id)}}">
        View Household
      </a>
      {% if 'group:admins' in request.effective_principals %}
      <a class="btn btn-danger" 
         href="{{request.route_url('person.delete', person_id=person.id)}}" 
         onclick="return confirm('Are you sure you want to delete this person?');">
        Delete Person
      </a>
      {% endif %}
    </span>
  </h1>

  <div class="collapse" id="details">
    <div class="card card-body">
      <table class="table table-sm table-bordered">
        <tr>
          <th>Created on</th>
          <td><code>{{person.created_on.strftime('%m/%d/%Y %I:%M %p')}}</code></td>
        </tr>
        <tr>
          <th>Created by</th>
          <td><code>{{person.created_by}}</code></td>
        </tr>
        <tr>
          <th>ID</th>
          <td><code>{{person.id}}</code></td>
        </tr>
        <tr>
          <th>Household ID</th>
          <td><code>{{person.household_id}}</code></td>
        </tr>
      </table>
    </div>
  </div>

  <form action="{{request.route_url('person.update', person_id=person.id)}}" method="POST">
    <fieldset class="row" {% if 'group:admins' not in request.effective_principals %}disabled{% endif %}>
      {% if 'group:admins' in request.effective_principals %}
        <div class="col-lg-6">
          <div class="form-group">
            <div class="custom-control custom-switch">
              <input type="checkbox" id="is_admin" name="is_admin" class="custom-control-input" {% if person.is_admin %}checked{% endif %} {% if not person.is_email_verified %}disabled{% endif %}>
              <label class="custom-control-label" for="is_admin">Is Admin?</label>
            </div>
            <small class="form-text text-muted">Email must first be verified before user can be made an admin.</small>
            <small class="form-text text-muted">Users can verify their email by registering on the website.</small>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <label for="email_verified">Email Verified?</label>
            <input type="text" name="email_verified" id="email_verified" class="form-control" readonly value="{{'Yes' if person.is_email_verified else 'No'}}">
          </div>
        </div>
      {% endif %}
      <div class="col-12">
        <div class="form-group">
          <div class="custom-control custom-switch">
            <input type="checkbox" id="is_active" name="is_active" class="custom-control-input" {% if person.is_active %}checked{% endif %}>
            <label class="custom-control-label" for="is_active">Is Active?</label>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="form-group">
          <div class="custom-control custom-switch">
            <input type="checkbox" id="is_deceased" name="is_deceased" class="custom-control-input" {% if person.is_deceased %}checked{% endif %}>
            <label class="custom-control-label" for="is_deceased">Deceased?</label>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="form-group">
          <label for="household_id">Household</label>
          <select id="household_id" name="household_id" class="form-control" required>
            <option value=""></option>
            {% for household in households %}
              <option value="{{household.id}}"
                      {% if household.id == person.household_id %}selected{% endif %}>
              {{household.last_name}}
              </option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="col-lg-6"></div>
      <div class="col-lg-6">
        <div class="form-group">
          <label for="familial_relationship">Familial Relationship</label>
          <input type="text" id="familial_relationship" name="familial_relationship" class="form-control" value="{{person.familial_relationship or ''}}">
          <small class="form-text text-muted">Ex: Husband, Wife, Daughter, Son, Grandson, Granddaughter, etc.</small>
        </div>
      </div>
      <div class="col-lg-6"></div>
      <div class="col-lg-6">
        <div class="form-group">
          <label for="first_name">First Name</label>
          <input type="text" id="first_name" name="first_name" class="form-control" value="{{person.first_name or ''}}" required>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="form-group">
          <label for="last_name">Last Name</label>
          <input type="text" id="last_name" name="last_name" class="form-control" value="{{person.last_name or ''}}" required>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="form-group">
          <label for="last_name">Gender</label>
          <select id="gender" name="gender" class="form-control" required>
            <option {% if person.gender == 'M' %}selected{% endif %} value="M">Male</option>
            <option {% if person.gender == 'F' %}selected{% endif %} value="F">Female</option>
          </select>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="form-group">
          <label for="birthday">Birthday</label>
          <input type="text" id="birthday" name="birthday" class="form-control datepicker" 
                                                           pattern="\d{2}/\d{2}/\d{4}" value="{% if person.birthday %}{{person.birthday.strftime('%m/%d/%Y')}}{% endif %}">
          <small class="form-text text-muted">Must be of format 00/00/0000</small>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="form-group">
          <label for="phone_number">Phone Number</label>
          <input type="tel" id="phone_number" name="phone_number" class="form-control" pattern="\(\d{3}\)\s{1}\d{3}-\d{4}" value="{{person.phone_number or ''}}">
          <small class="form-text text-muted">Must be of format (000) 000-0000.</small>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" id="email" name="email" class="form-control" value="{{person.email or ''}}">
        </div>
      </div>
      <div class="col-12">
        <div class="form-group">
          <label for="notes">Notes</label>
          <textarea id="notes" name="notes" rows="5" class="form-control">{{person.notes or ''}}</textarea>
        </div>
      </div>
      {% if 'group:admins' in request.effective_principals %}
      <div class="col-12 text-right">
        <button type="submit" class="btn btn-warning">Update</button>
      </div>
      {% endif %}
    </fieldset>
    </div>
  </form>
{% endblock content %}
