{% extends '../base_admin.jinja2' %}

{% block content %}
  <h1>Person <a class="btn btn-primary" href="{{request.route_url('person.add')}}">Add Person</a></h1>

  <table class="table table-sm table-bordered" id="person_datatable" style="width: 100%;">
    <thead>
      <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
      </tr>   
    </thead>
    <tbody>
      {% for person in people %}
        <tr>
          <td>
            <a href="{{request.route_url('person.view', person_id=person.id)}}">
              {{person.id}}
            </a>
          </td>
          <td>
            {{person.first_name}}
          </td>
          <td>
            {{person.last_name}}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock content %}

{% block scripts %}
  <script src="{{request.static_url('directory:app/static/js/person/index.js')}}"></script>
{% endblock scripts %}
