{% extends '../base_admin.jinja2' %}

{% block content %}
  <h1>Person <a class="btn btn-primary" href="{{request.route_url('person.add')}}">Add Person</a></h1>

  {% if persons|length == 0 %}
    <p>No people found...</p>
  {% endif %}

  {% for person in persons %}
  {% endfor %}

{% endblock content %}
