{% extends '../base.jinja2' %}

{% block content %}
  <h1>Main Street United Methodist Church</h1>
  <p class="text-muted">300 N Main St, Abbeville, SC 29620</p>
  <h2>Welcome!</h2>
  <p>Thank you for visiting our website.</p>
  <p>Our Lord in His Providence has caused your path to cross ours. We invite you to worship with us. We are always happy to have guests to join us to worship, study, fellowship and to serve Christ.</p>
  <p>Main Street United Methodist Church exists to glorify God by offering praise and worship, teaching and making disciples of Jesus Christ, supporting each other, serving the community, and spreading the Good News of salvation.</p>
{% endblock content %}
